# {{ ansible_managed }}
[mysqld]
bind-address         = 127.0.0.1,{{ ansible_host }}
mysqlx-bind-address  = 127.0.0.1
skip-name-resolve
character-set-server = utf8mb4
collation-server     = utf8mb4_0900_ai_ci
default-time-zone    = '+00:00'
